html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 h2 h3 h4 h5 h6 p ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-black-color: #000;
  --logo-white-color: #ffffff;
  --hover-color: #2196f3;
  --current-title-color: #2196f3;
  --background-hero-color: #2f303a;
  --background-overlay-color: #c4c4c4;
  --button-background-color: #2196f3;
  --button-hover-color: #188ce8;
  --features-list-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --team-background-color: #f5f4fa;
  --social-button-fill-color: #afb1b8;
  --form-text-color: #afb1b8;
  --border-color: #eeeeee;
  --header-color: #ececec;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .main-nav {
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container--footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .container--footer {
    display: flex;
    align-items: baseline;
  }
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--white-color);
  background-color: var(--button-background-color);
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.section--no-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section--no-padding {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.section--background-color {
  background-color: var(--team-background-color);
}
.section-title {
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.18;
    margin-bottom: 50px;
  }
}
.section-title--indent {
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.header {
  border-bottom: 1px solid var(--header-color);
}
@media (max-width: 767.98px) {
  .header {
    height: 60px;
    align-items: center;
  }
}

.site-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 0 93px;
  display: flex;
}
.site-nav__item:first-child {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
  margin-left: 51px;
}
@media (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--hover-color);
}
.site-nav__link--current {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--current-title-color);
}

.logo {
  text-decoration: none;
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}
.logo__part {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--logo-white-color);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.auth-nav {
  padding: 0;
  margin: 0 0 0 auto;
  display: flex;
  list-style: none;
}
@media (max-width: 767.98px) {
  .auth-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .auth-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .auth-nav__item {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
.auth-nav__link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color var(--transition);
}
@media (min-width: 768px) {
  .auth-nav__link {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
  }
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--hover-color);
}
.auth-nav__mail {
  fill: currentColor;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.auth-nav__phone {
  fill: currentColor;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-hero-color);
  text-align: center;
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--button-background-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}
.hero--overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/s/hero1xs.jpg");
  background-color: var(--background-overlay-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/s/hero2xs.jpg");
  }
}
@media (min-width: 768px) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/m/hero1xm.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/m/hero2xm.jpg");
  }
}
@media (min-width: 1200px) {
  .hero--overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/l/hero1xl.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/l/hero2xl.jpg");
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  row-gap: 30px;
  column-gap: 30px;
}
.features-list__item {
  width: 100%;
  max-width: 450px;
}
@media (min-width: 768px) {
  .features-list__item {
    width: 354px;
    height: 100%;
    max-height: 251px;
    min-height: 226px;
  }
  .features-list__item:nth-child(2) {
    min-height: 251px;
  }
}
@media (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}
.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .features-list__title {
    text-align: left;
  }
}
.features-list__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}
.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 120px;
  margin: 0 0 30px 0;
  border-radius: 4px;
  background-color: var(--features-list-bg-color);
}
@media (min-width: 768px) {
  .features-list__icon {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .features-list__icon {
    width: 270px;
  }
}

@media (max-width: 1199.98px) {
  .section-work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .work {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .work__item {
    position: relative;
    width: 370px;
  }
  .work__item--indent {
    margin-left: 30px;
  }
  .work__label {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 27px 10px;
    margin: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
  .work__img {
    display: block;
    width: 100%;
  }
}

.card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.card--indent {
  margin-left: 0;
}
.card__description {
  padding: 30px 32px;
}
.card__name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.card__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-img {
  max-width: 100%;
  display: block;
  width: 450px;
}
@media (min-width: 768px) {
  .card-img {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .card-img {
    max-width: 270px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 10px;
}
.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--social-button-fill-color);
  transition: fill var(--transition), background-color var(--transition);
}
.social__button--indent {
  margin-right: 0;
}
.social__button:hover, .social__button:focus {
  fill: var(--primary-bg-color);
  background-color: var(--button-background-color);
}

.clients {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 210px;
  max-height: 92px;
  fill: var(--social-button-fill-color);
  border: 1px solid var(--social-button-fill-color);
  transition: border var(--transition), fill var(--transition);
}
@media (min-width: 768px) {
  .clients__item {
    width: 226px;
    padding: 16px 60px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
    padding: 16px 32px;
  }
}
.clients__item:hover, .clients__item:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.clients__link {
  margin-right: 0px;
}
@media (max-width: 767.98px) {
  .clients__link {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) {
  .clients__link {
    width: calc((100% - 60px) / 3);
  }
}
.clients__link--indent {
  margin-right: 0px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-color);
}
.footer-adress {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-adress {
    display: block;
    max-width: 232px;
    align-items: center;
    margin-right: 165px;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .footer-adress {
    display: block;
    width: 231px;
    margin-left: 0;
    text-align: left;
    margin-right: auto;
  }
}
.footer-social {
  display: block;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .footer-social {
    margin-left: 0px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .footer-social {
    display: block;
    margin-left: 70px;
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .footer-social > p {
    text-align: center;
  }
}

@media (min-width: 480px) {
  .container--footer {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .container--footer {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .container--footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

address {
  margin-top: 20px;
}

.address__physical {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-bg-color);
}

.contact {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact__mail {
  margin-bottom: 9px;
}
.contact__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.contact__link:hover, .contact__link:focus {
  color: var(--hover-color);
}

.social--indent {
  margin-left: 0;
  margin-top: 20px;
}
.social__button--footer {
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
}
.social__item {
  margin-left: 0px;
}
.social__item--indent {
  margin-left: 0;
}

.connect-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .connect-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .connect-form {
    margin-left: 93px;
    margin-top: 0;
  }
}

.connect-form > .connect {
  text-align: center;
}
@media (min-width: 1200px) {
  .connect-form > .connect {
    text-align: left;
  }
}

.connect {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

@media (max-width: 767.98px) {
  .form-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .form-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
}
.form-footer__input {
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  margin-right: 10px;
  height: 50px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media (min-width: 768px) {
  .form-footer__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}
.form-footer__btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--button-background-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .form-footer__btn {
    margin-top: 0;
  }
}
.form-footer__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
  overflow-y: scroll;
  z-index: 30;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}
@media (max-width: 767.98px) {
  .modal {
    width: 450px;
  }
}
@media (max-width: 479.98px) {
  .modal {
    width: calc(100% - 30px);
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 500px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal .is-hidden {
  transform: scale(0);
}
.modal__close {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 6px;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  fill: #000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition);
}
.modal__close:hover {
  fill: var(--hover-color);
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  display: block;
  position: relative;
  flex-direction: column;
  margin-bottom: 28px;
}
.form-field__input {
  width: 100%;
  height: 40px;
  padding: 4px 10px 4px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: color var(--transition), fill var(--transition), border var(--transition);
}
.form-field__input:focus,
.form-field__input ~ svg {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}
.form-field__label {
  position: absolute;
  top: -17px;
  left: 0;
  margin-bottom: 4px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-field svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--transition);
}
.form-field:hover svg,
.form-field:hover .form-field-input {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}

.form-textarea {
  position: relative;
  height: 120px;
}
.form-textarea__comment {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.form-textarea__comment:focus {
  cursor: auto;
  border-color: var(--hover-color);
}
.form-textarea__comment:hover {
  border-color: var(--hover-color);
}
.form-textarea__comment::placeholder {
  color: var(--form-text-color);
}
.form-textarea__label {
  position: absolute;
  top: -17px;
  left: 0;
  margin-bottom: 4px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media (min-width: 1200px) {
  .form-submit {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media (max-width: 1199.98px) {
  .form-submit {
    font-size: 12px;
  }
}
.form-submit__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--button-background-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);
}
.form-submit__btn:hover, .form-submit__btn:focus {
  background-color: var(--button-hover-color);
}
.form-submit__text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.form-submit__label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 21px;
}
.form-submit__checkbox {
  position: relative;
  display: inline-block;
  appearance: none;
  top: 0;
  left: 0;
  margin-right: 26px;
}
.form-submit__check {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transform: scale(2);
  transition: opacity var(--transition), transform var(--transition);
}
.form-submit__checkbox:checked + .form-submit__check {
  opacity: 1;
  transform: scale(1);
}
.form-submit__box {
  position: absolute;
  z-index: 0;
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--transition), transform var(--transition);
}
.form-submit__checkbox:checked ~ .form-submit__box {
  opacity: 0;
}
.form-submit__checkbox:focus ~ .form-submit__box {
  fill: var(--hover-color);
}
.form-submit__policy {
  margin-left: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
@media (min-width: 1200px) {
  .form-submit__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.filter {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .filter {
    margin: 0 0 30px 0;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .filter {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1200px) {
  .filter {
    margin: 0 0 50px 0;
    justify-content: center;
  }
}
.filter__item--indent {
  margin-left: 0;
}
.filter__button {
  display: inline-block;
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  border: none;
  color: var(--title-text-color);
  background-color: var(--features-list-bg-color);
  cursor: pointer;
  transition: box-shadow var(--transition), color var(--transition), background-color var(--transition);
}
.filter__button:hover, .filter__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .projects-list:nth-child(1) {
    min-height: 354px;
  }
}

.project {
  display: flex;
}
@media (max-width: 767.98px) {
  .project {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .project {
    max-width: 354px;
  }
}
.project__title {
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project__category {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
.project__link {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow var(--transition);
}
.project__link:hover, .project__link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .project__link {
    display: flex;
    flex-direction: column;
  }
}
.project__box {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .project__box {
    flex-grow: 1;
  }
}
.project__card {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: opacity var(--transition), transform var(--transition);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 479.98px) {
  .project__overlay {
    font-size: 14px;
    align-items: center;
    padding: 10% 24px;
  }
}

.project__img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .project__img {
    max-width: 354px;
  }
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  background: rgba(233, 168, 168, 0.2);
  opacity: 1;
  transition: opacity var(--transition);
}
.backdrop-menu--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px 48px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--primary-bg-color);
  transform: translateY(0);
  transition: transform var(--transition);
}
.backdrop-menu--is-hidden .menu-container {
  transform: translateY(-100%);
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: color var(--transition);
}
.menu__button-close:hover, .menu__button-close:focus {
  color: var(--hover-color);
}

.icon-cross {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.icon-menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.menu__nav-list {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__nav-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  padding: 3px 0;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition);
}
@media (max-width: 479.98px) {
  .menu__nav-link {
    font-size: 8.5vw;
  }
}
.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--hover-color);
}
.menu__nav-link--current {
  color: var(--hover-color);
}

.menu_secon-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
}

.menu__contact-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu__contact-link--blue {
  font-size: 34px;
  line-height: 1.8;
  color: var(--hover-color);
  padding: 16px 0;
}
@media (max-width: 479.98px) {
  .menu__contact-link--blue {
    font-size: 7vw;
  }
}

.menu__contact-link--dark {
  font-size: 24px;
  line-height: 1.17;
  padding: 16px 0;
  color: var(--primary-text-color);
}
@media (max-width: 479.98px) {
  .menu__contact-link--dark {
    font-size: 5vw;
  }
}

.menu__social-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  margin-left: -10px;
}
@media (max-width: 479.98px) {
  .menu__social-list {
    font-size: 10px;
  }
}

.menu__social-item {
  padding: 0 10px;
}
.menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__social-link {
  display: inline-block;
  color: currentColor;
}

.menu-button {
  position: relative;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;
}
.menu-button:hover, .menu-button:focus {
  color: var(--hover-color);
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */