:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-black-color: #000;
  --logo-white-color: #ffffff;
  --hover-color: #2196f3;
  --current-title-color: #2196f3;
  --background-hero-color: #2f303a;
  --background-overlay-color: #c4c4c4;
  --button-background-color: #2196f3;
  --button-hover-color: #188ce8;
  --features-list-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --team-background-color: #f5f4fa;
  --social-button-fill-color: #afb1b8;
  --form-text-color: #afb1b8;
  --border-color: #eeeeee;
  --header-color: #ececec;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
